body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #01a3de;
  color: white;
  font-weight: 500;
}

button:hover {
  background-color: #1e40af;
}
